header {
  
  display:flex;
  flex-direction:column;
  height:400px;
  width:inherit;
  justify-content:center;
  align-items:center;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  background-color: #3a3461;
  z-index:0;
}
.name {
  color:rgb(228, 245, 136);
  display:flex;
  justify-content:center;
  align-content:center;
}