body>header {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #3a3461;
  height: 400px;
  z-index: 1;
  margin-top: 120px;
  padding: .5em;
}

.name {
  color: rgb(227, 228, 223);
  display: flex;
  justify-content: center;
  align-content: center;
}

#userpic {
  margin-top: 1.5em;
}

/* desktop style */

@media only screen and (min-width: 1420px) {
  .main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin-top: 9em;
    margin-left: 2em;
    float: left;
  }
}