body > header {
  
  display:flex;
  flex-direction:column;
  height:400px;
  width:inherit;
  justify-content:center;
  align-items:center;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  background-color: #3a3461;
  margin-top:120px;
}
.name {
  color:rgb(227, 228, 223);
  display:flex;
  justify-content:center;
  align-content:center;
}