nav {
  position:fixed;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: baseline;
  height: 120px;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  background-color: #4056A1; 
  z-index:100;
  top:0;
  width:100%;

}

.a {
  display:flex;
  align-self:left;
  font-size: 40px;
  color: #f4f1ec;
  padding: 1.5em;
  


  
}

.b {
  display:flex;
  flex-direction: column;
  /* align-self:flex-end; */
  color:#f4f1ec;
  font-family: Arial, Helvetica, sans-serif;
  font-size:smaller;
  width:fit-content;
  align-self: right;
  padding: 1.5em;

  
  /* background-color:#f4f1ec; */
}
.fa-solid.fa-angles-down {
  display:flex;
  flex-direction: column;
  align-self: center;
  color:tomato;
}