nav {
  position:static;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  height: 120px;
  width: auto;
  background-color: #4056A1;
  z-index:100;

}

.a {
  font-size: 50px;
  color: #FFFFFF;
  text-align: left;
  padding: 1.5em;
}

.container {
  font-family:sans-serif;
  display:flex;
  flex-direction:column;
  color: tomato;
  font-size:.5em;
  padding:1.5em;
}
.b {
  font-size: 15px;
  color: #FFFFFF;
  text-align: right;

}