nav {
  position:fixed;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: baseline;
  height: 120px;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  background-color: #4056A1;
  z-index:99;
  top:0;
  width:100%;
}

.box-a {
  display:flex;
  align-self:flex-start;
  justify-content:start;
}

.box-a > h1 {
  font-size: 55px;
  color: #FFFFFF;
  margin-bottom:.5em;
  margin-left:.5em;
}


.box-b {
  display:flex;
  flex-direction: column;
  align-self:end;
  color:#f4f1ec;
  font-family: Arial, Helvetica, sans-serif;
  font-size:35;
  width:fit-content;
  align-self: right;
  margin-bottom:.5em;
  margin-right:.5em;

}
.btn:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn {
  display:flex;
  flex-direction: column;
  align-self: center;
  color:rgb(226, 189, 45);
  background-color: transparent;
  background-image: none;
  border: none;
  font-size: 1.5em;
} 